Privacy concerns around GeoJSON

Privacy is a big concern for the IETF and its members. Recently, RFC 7258 asserted that [Pervasive Monitoring Is an Attack](http://www.rfc-editor.org/rfc/rfc7258.txt). Tim Bray has the [back story](https://www.tbray.org/ongoing/When/201x/2014/05/13/Pervasive-Monitoring-is-an-Attack).

Years before that was published, there was a working group chartered to design an architecture for using location information while respecting the privacy of users: [GEOPRIV](http://datatracker.ietf.org/wg/geopriv/charter/). Contributors to GEOPRIV will certainly be contributing to a GeoJSON WG and questions about GEOPRIV's privacy requirements will come up. My response today to such a question is here: https://mailarchive.ietf.org/arch/msg/dispatch/6sGVLInUvyl232IYF0x8Aahz34Y.

> On Wed, Jul 22, 2015 at 10:09 AM, James Winterbottom <xxx@xxx> wrote:

>> It feels like the question is the target of the location ever going to be
>> conveyed with the location information?
>>

> Are you asking if it's possible to convey, say, phone numbers and locations
of the the phones and the semantics needed to track the devices and their
users together in GeoJSON? This would require a protocol or framework
external to the GeoJSON format. GeoJSON specifies that Features should have
an "id" property and that it should uniquely identify the feature within
its collection. There's no requirement or implication that the id
identifies the thing described by the Feature. GeoJSON's "id" is no more
than Atom's Entry "id" (RFC 4287 has had a major influence on GeoJSON).
Semantics such as what it would mean to use, eg, "tel:867-5309" as a
feature id are not defined by GeoJSON.

I (backed up by former chairs of GEOPRIV) am asserting that the GeoJSON format is exempt from GEOPRIV requirements in the same way that RFC 5870 'geo' URIs are: https://tools.ietf.org/html/rfc5870#section-9.2. There may be more debate on this.

Certainly, some applications of GeoJSON including ones I've drafted to use JSON-LD are less exempt. Using JSON-LD it's possible to connect things and their locations with explicit semantics and truly identify targets in the GEOPRIV sense. And that's why it's a good thing to keep these applications out of the charter.

I hope I've been able to represent the IETF's privacy concerns briefly and well to geo developers. We (counting myself among the latter) don't talk about privacy enough in my opinion.

Summary: privacy is important, let's not brush it aside but draw some lines around where it is and isn't strictly required.