Charter complete

We've got a :chart_with_upwards_trend: :ear: 

> Begin forwarded message:
> 
> From: The IESG <iesg-secretary@ietf.org>
> Subject: WG Action: Formed Geographic JSON (geojson)
> Date: October 2, 2015 at 9:35:48 AM PDT
> To: "IETF-Announce" <ietf-announce@ietf.org>
> Cc: geojson WG <geojson@ietf.org>
> Reply-To: ietf@ietf.org
> 
> A new IETF working group has been formed in the Applications and
> Real-Time Area. For additional information please contact the Area
> Directors or the WG Chairs.
> 
> Geographic JSON (geojson)
> ------------------------------------------------
> Current Status: Proposed WG
> 
> Chairs:
>  Erik Wilde <dret@berkeley.edu>
>  Martin Thomson <martin.thomson@gmail.com>
> 
> Assigned Area Director:
>  Alissa Cooper <alissa@cooperw.in>
> 
> Mailing list
>  Address: geojson@ietf.org
>  To Subscribe: https://www.ietf.org/mailman/listinfo/geojson
>  Archive: https://mailarchive.ietf.org/arch/search/?email_list=geojson
> 
> Charter:
> 
> GeoJSON is a format for encoding data about geographic features using
> JavaScript Object Notation (JSON) [RFC7159]. Geographic features need not
> be physical things; any thing with properties that are bounded in space
> may be considered a feature. GeoJSON provides a means of representing
> both the properties and spatial extent of features.
> 
> The GeoJSON format specification was published at http://geojson.org in
> 2008. GeoJSON today plays an important and growing role in many spatial
> databases, web APIs, and open data platforms. Consequently the
> implementers increasingly demand formal standardization, improvements in
> the specification, guidance on extensibility, and the means to utilize
> larger GeoJSON datasets.
> 
> This WG will work on a GeoJSON Format RFC that specifies the format more
> precisely, serves as a better guide for implementers, and improves
> extensibility of the format. The work will start from an Internet-Draft
> written by the original GeoJSON authors: draft-butler-geojson [1].
> 
> This WG will work on GeoJSON mappings of 'geo' URIs, reinforcing the use
> of RFC 5870.
> 
> This WG will work on a format for a streamable sequence of GeoJSON texts
> based on RFC 7464 (JSON Text Sequences) to address the difficulties in
> serializing very large sequences of features or feature sequences of
> indeterminate length.
> 
> GeoJSON objects represent geographic features only and do not specify
> associations between geographic features and particular devices, users,
> or facilities. Any association with a particular device, user, or
> facility requires another protocol. When a GeoJSON object is used in a
> context where it identifies the location of a device, user, or facility,
> it becomes subject to the architectural, security, and privacy
> considerations in RFC 6280, An Architecture for Location and Location
> Privacy in Internet Applications. The application of those considerations
> is specific to protocols that make use of GeoJSON objects and is out of
> scope for the GeoJSON WG. Although the WG is chartered to improve the
> extensibility of the format, extensions that would allow GeoJSON objects
> to specify associations between geographic features and particular
> devices, users, or facilities are not expected to be defined in the WG.
> Should that be needed, re-chartering will be required.
> 
> Deliverables:
> 
> * A GeoJSON format specification document including mappings of 'geo'
> URIs 
> * A document describing a format for a streamable sequence of GeoJSON
> texts
> 
> [1] https://tools.ietf.org/html/draft-butler-geojson
> 
> Milestones: